
/* Global Style start heare */

*{
    margin: 0;
    padding: 0;
}



button{
    height: 40px;
    width: 150px;
    font-size: 16px;
    border-style: none;
    background-color: rgb(231, 164, 106);
  
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 16px;
    margin: 20px 0;
    line-height: 20px;
}
/* Global Style end heare */





/* main style start from hare --------------------
--------------------------------------------------
-------------------------------------------------*/



body{
    width: 100%;
    background-color: rgb(36, 36, 36);
}

.body{
    width: 1200px;
    margin: auto;
    background-color: rgb(31, 29, 29);

}


/* -----------header style start from hare */


.header{
    width: 100%;
    height: 600px;
    background-image: url(image/Image_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

.header_text{
    width: 500px;
    color: white;
    padding: 200px 0 0 50px;
    position: absolute;

}
/*--------------- header style end hare */

/* section2 start from hare  */

.section2{
    width: 100%;
    height: 500px;
    background-color: rgb(24, 22, 22);
    color: white;
    overflow: hidden;
    text-align: center;
    
}
.section2_about{
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: rgb(31, 29, 29);
    
}

.about_reg{
    margin: 0 auto;
    height: 70%;
    width: 70%;
    text-align: center;
    position: absolute;
    padding: 200px 100px;
    
}
.section2_reg{
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: rgb(14, 12, 12);
}
.reg_open{
   margin: 0 auto;
    height: 70%;
    width: 70%;
    text-align: center;
    position: absolute;
    padding: 200px 100px;
}
/* section2 END  hare  */



/* section3 start  hare  */

.section3{
    height: 500px;
    width: 100%;

}
.section3_left{
    height: 100%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    float: left;

    
}
.section3_left_text{
    height: 70%;
    width: 80%;
    margin: 100px auto;
}

.section3_right{
    height: 100%;
    width: 70%;
    background-image: url(image/Image_2.png);
    float: left;
}


/* section3 END  hare  */



/* section4 start  hare  */

.section4{
    height: 500px;
    width: 100%;

}
.section4_right{
    height: 100%;
    width: 30%;
    background-color: rgb(31, 29, 29);
    float: left;

    
}
.section4_right_text{
    height: 70%;
    width: 80%;
    margin: 100px auto;
    color: white;
}

.section4_left{
    height: 100%;
    width: 70%;
    background-image: url(image/Image_3.png);
    float: left;
}


/* section4 END  hare  */



/* section5 start  hare  */

.section5{
    height: 500px;
    width: 100%;
    position: relative;
    background-color: rgb(31, 29, 29);
    border-bottom: 1px solid rgb(88, 88, 88);

}
.section5_bg{
    width: 100%;
    height: 90%;
    background-image: url(image/Image_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.section5_font{
    height: 80%;
    width: 500px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 200px;
}
.section5_font_text{
   padding: 100px 50px;

    
}


/* section5 END  hare  */




/* section6 start  hare  */

.section6{
    width: 100%;
    height: 300px;
    background-color: rgb(31, 29, 29);
    
}
.section6_text{
    height: 60%;
    width: 50%;
    color: white;
    margin: auto;
    text-align: center;
    margin: 100px auto 10px  auto;
}
.section6_mail{
    height: 40px;
    width: 50%;
    margin: auto;
}
.section6_mail .input{
    padding: 10px;
    border: 1px solid rgb(172, 166, 166);
    background-color: transparent;
    width: 60%;
    color: white;
    margin: 5px;

}


/* section6 END  hare  */





/*------------------------------------------
-------------------------------------------- main style end  hare */
